# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
DerivedData/
*.xcuserstate
*.xcuserdatad*
*.moved-aside
*.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/
*.xcuserstate

# Windows
windows/flutter/ephemeral/
*.exe
*.dll
*.pdb

# Linux
linux/flutter/ephemeral/
*.so

# Web

# Firebase / Google services
google-services.json
GoogleService-Info.plist
firebase_app_id_file.json

# Environment files
.env
.env.*

# Logs and temporary
*.tmp
*.pid
*.seed
*.pid.lock


# Android generated resources
android/app/src/main/res/drawable*/launch_background.xml


# Coverage reports
coverage/

# Generated test mocks
test/**.mock.dart
server/mediapipe-env/
server/.venv/
server/__pycache__/
